NODE_ENV=production
PAYLOAD_SECRET=change-me
PAYLOAD_DATABASE_PUSH=true
POSTGRES_DB=lumen_yoga
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
RESEND_API_KEY=replace-me
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=strootmann
NEXT_PUBLIC_GOOGLE_FEATURABLE_WIDGET=4a7ab06d-759a-49dd-bf79-f9eac6fc982d
NEXT_PUBLIC_POSTHOG_KEY=replace-me
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
S3_BUCKET=lumen-yoga-media-061051249936
S3_REGION=eu-west-1
S3_ACCESS_KEY_ID=replace-me
S3_SECRET_ACCESS_KEY=replace-me
