@import 'tailwindcss';
@config "../../tailwind.config.ts";

@theme {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-yellow: #efad5b;
  --color-magenta: #b361a4;
  --color-purple: #7663a8;
  --color-blue: #80a5d7;
  --color-green: #aed9b3;

  /* Font family */
  --font-sans: "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Arial",
    sans-serif;

  /* Font weights */
  --font-weight-semibold: 500;

  /* Container */
  --container-padding: 2rem;
  --container-2xl: 1400px;
}


.clip-path {
  clip-path: inset(0 0 0 0);
}

@media (min-width: 1024px) {
  .custom-grid-about {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% + 1rem);
  }

  .custom-grid-why {
    display: grid;
    grid-template-columns: calc(50% + 1rem) calc(50% - 1rem);
  }
}

/* @layer { */
/*   @media (min-width: 1920px) { */
/*     html { */
/*       @apply container; */
/*     } */
/*   } */
/* } */
@media (width >= 120rem) { /* 1920px */
  html {
    margin-inline: auto;
    max-width: 90rem;
    padding-inline: 2rem;
  }
}


.element-with-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Webkit browsers */
.element-with-scrollbar::-webkit-scrollbar {
  display: none;
}

.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem rgb(54, 49, 61);
}
/* @media (min-width: 320px) {
  html {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (640 - 320)));
  }
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
} */
