@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path {
  clip-path: inset(0 0 0 0);
}

@media (min-width: 1024px) {
  .custom-grid-about {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% + 1rem);
  }

  .custom-grid-why {
    display: grid;
    grid-template-columns: calc(50% + 1rem) calc(50% - 1rem);
  }
}

/* @media (min-width: 320px) {
  html {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (640 - 320)));
  }
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
} */
